* {
  box-sizing: border-box;
  background-color: whitesmoke;
}

.container {
  max-width: 415px;
  margin: auto;
}

.heading {
  text-align: center;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
}

.container1 {
  display: flex;
}

.row {
  border: 1px solid grey;
  padding: 25px;
  background-color: brown;
}

.col {
  border: 1px solid grey;
  padding: 25px;
  background-color: white;
}

.col:hover {
    background-color: black;
}

.row:hover {
    background-color: green;
}

.container2 {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.btn1 {
    border: none;
    background-color: green;
    font-size: 18px;
    color: white;
    border-radius: 3px;
    padding: 5px 30px;
}

.btn2 {
    border: none;
    background-color: red;
    font-size: 18px;
    color: white;
    border-radius: 3px;
    padding: 5px 30px;
}

.result {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}